@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<h2 class="error">An Error Has Occurred</h2>

@if (Model != null)
{
    <p>@Model.Exception.GetType().Name<br />
    thrown in @Model.ControllerName @Model.ActionName</p>
    <p><b>Error Details:</b></p>
    <p>@Model.Exception.Message</p>
}

